# Ruby on Rails App
ruby-on-rails/.env
ruby-on-rails/.gem_rbs_collection/
ruby-on-rails/.gitignore
ruby-on-rails/log/
ruby-on-rails/sig/generated/vendor/
ruby-on-rails/tmp/
ruby-on-rails/vendor/

# Ruby
ruby/test/tmp

# Python
python/**/__pycache__/
python/**/.pytest_cache/
python/**/.mypy_cache/
